/.env.example

/.dockerignore
/.editorconfig
/.gitattributes
/.gitignore
/.eslintignore
/.git
/.github
/.idea

/.babelrc
/hooks
/.htmlhintrc
/.jsbeautifyrc
/.tern-project
/.scrutinizer.yml
/.scss-lint.yml
/yarn.lock
/assets/scss/.sass-cache
/public/vendor
/migrations
/node_modules
/package.json
/README.md
/composer.lock
/storage/app/*
/storage/covers/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/temp_labs_csv/*
/storage/temp_pdf/*
/tests
/bin
/log
