/vendor
/public/vendor/horizon
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject/private/
/nbproject
.vagrant/
/nova
auth.json
/public/storage
/storage
node_modules
.vscode/
.phpunit.result.cache
.remote-sync.json
cghooks.lock

.php-cs-fixer.cache
.DS_Store
