.small {
    max-width: 600px;
    margin: 150px auto;
}

.chart-js-dashboard-title {
    color: #7c858e;
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    padding: 1rem 1.5rem 2px;
}

.stay-right {
    text-align: right;
    width: 100%;
    font-size: 12px;
    min-height: 35px;
    padding: 10px 20px 5px 20px;
    margin-bottom: -40px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.insight-filters {
    margin-bottom: 1.5em;
}
