.w-sidebar {
    width: 16rem !important;
}

.px-view {
    padding-left: 12px;
    padding-right: 12px;
}

.py-view {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table th {
    font-size: 0.9rem;
    background-color: var(--30);
    font-weight: 600;
    color: var(--80);
    text-transform: none;
    border-bottom-width: 2px;
    border-color: var(--50);
    padding: .25rem;
    letter-spacing: .05em;
}

.table td {
    font-size: 1rem;
    font-weight: 300;
    color: var(--90);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: var(--50);
    padding-left: .25rem;
    padding-right: .25rem;
    min-width: 35px;
    text-wrap: avoid;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}

.toggle-icon.open {
    transform: rotate(90deg);
}

.navigation-group-title {
    position: relative;
}

td input.checkbox {
    margin: 0 auto;
    display: block;
}

/* fix Tooltip issues*/
div.tooltip, div.vue-tooltip-theme {
    pointer-events: none;
    container: body;
}
